Repository EspenAlbert/py-libs: changes, and which pre-commit hooks are due for each by the changed paths.
All: build_files_check, lint, test

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.0.285
  hooks:
  - id: ruff

- repo: local
  hooks:
  - id: build_files_check
    name: build_files_check
    entry: "pants tailor --check update-build-files --check ::"
    language: system
    files: BUILD$
    types: [file]
    pass_filenames: false
  - id: lint
    name: Lint
    entry: pants --changed-since=HEAD --changed-dependents=transitive lint
    types: [python]
    language: system
    pass_filenames: false
  - id: test
    name: Test
    entry: pants --changed-since=HEAD --changed-dependents=transitive test
    types: [python]
    language: system
    pass_filenames: false

feat(docker-compose-parser): support docker-compose file version and start_interval healthcheck
  _pants/py_deploy.py
  _pants/py_package.py
  docker_compose_parser/src/docker_compose_parser/file_models.py
  docker_compose_parser/tests/test_docker_compose_parser/test_file_models.py
Due: lint, test

ci: update pants-py-deploy dependencies
  _pants/3rdparty/lock.txt
  _pants/3rdparty/requirements.txt
  _pants/pants_py_deploy/tests/test_pants_py_deploy/test_compose_file.py
  _pants/pants_py_deploy/tests/test_pants_py_deploy/test_compose_file/docker-compose-modified.yaml
  _pants/pants_py_deploy/tests/test_pants_py_deploy/test_compose_file/docker-compose-new.yaml
  _pants/py_package.py
Due: lint, test

feat(pants-py-deploy): support explicit_ports
  _pants/pants_py_deploy/src/pants_py_deploy/compose_file.py
  _pants/pants_py_deploy/src/pants_py_deploy/fields.py
  _pants/pants_py_deploy/src/pants_py_deploy/plugin.py
  _pants/pants_py_deploy/src/pants_py_deploy/register.py
  _pants/py_deploy.py
  compose_chart_export/src/compose_chart_export/chart_mods.py
  compose_chart_export/src/compose_chart_export/ports.py
  compose_chart_export/tests/test_chart_export/charts/nginx_no_ports/templates/deployment.yaml
  compose_chart_export/tests/test_chart_export/charts/nginx_no_ports/templates/service.yaml
  compose_chart_export/tests/test_chart_export/charts/service_deployment/templates/deployment.yaml
  compose_chart_export/tests/test_chart_export/charts/service_deployment/templates/service.yaml
  compose_chart_export/tests/test_chart_export/charts/service_deployment_with_healthcheck/templates/deployment.yaml
  compose_chart_export/tests/test_chart_export/charts/service_deployment_with_healthcheck/templates/service.yaml
  docker_example/src/docker_example/BUILD
  docker_example/src/docker_example/chart/templates/deployment.yaml
  docker_example/src/docker_example/chart/templates/service.yaml
  docker_example/src/docker_example/docker-compose.yaml
Due: build_files_check, lint, test

feat(compose-chart-export): support probes and py_module healthcheck
  _pants/pants_py_deploy/src/pants_py_deploy/compose_file.py
  compose_chart_export/src/compose_chart_export/chart_mods.py
  compose_chart_export/src/compose_chart_export/compose_export.py
  docker_compose_parser/src/docker_compose_parser/file_models.py
  docker_example/src/docker_example/BUILD
  docker_example/src/docker_example/chart/templates/deployment.yaml
  docker_example/src/docker_example/chart/values.yaml
  docker_example/src/docker_example/docker-compose.yaml
  zero_3rdparty/src/zero_3rdparty/str_utils.py
Due: build_files_check, lint, test

feat(pants-py-deploy): support apt-packages and py_module healthcheck
  _pants/py_deploy.py
Due: lint, test

feat(pants-py-deploy): support apt-packages and py_module healthcheck
  _pants/pants_py_deploy/src/pants_py_deploy/compose_file.py
  _pants/pants_py_deploy/src/pants_py_deploy/fields.py
  _pants/pants_py_deploy/src/pants_py_deploy/models.py
  _pants/pants_py_deploy/src/pants_py_deploy/plugin.py
  _pants/pants_py_deploy/src/pants_py_deploy/register.py
  _pants/pants_py_deploy/tests/test_pants_py_deploy/test_compose_file.py
  _pants/py_deploy.py
  compose_chart_export/src/compose_chart_export/chart_file_templates.py
  compose_chart_export/src/compose_chart_export/chart_mods.py
  compose_chart_export/src/compose_chart_export/compose_export.py
  compose_chart_export/tests/test_chart_export/charts/service_deployment_with_healthcheck/values.yaml
  compose_chart_export/tests/test_chart_export/compose_files/service_deployment_with_healthcheck.yaml
  docker_compose_parser/src/docker_compose_parser/file_models.py
  docker_example/src/docker_example/BUILD
  docker_example/src/docker_example/chart/templates/deployment.yaml
  docker_example/src/docker_example/chart/templates/secret_secret1.yaml
  docker_example/src/docker_example/chart/templates/secret_secret2.yaml
  docker_example/src/docker_example/chart/values.yaml
  docker_example/src/docker_example/docker-compose.yaml
  docker_example/src/docker_example/settings.py
  zero_3rdparty/src/zero_3rdparty/str_utils.py
Due: build_files_check, lint, test

feat(zero-3rdparty): only_files iteration
  zero_3rdparty/src/zero_3rdparty/file_utils.py
Due: lint, test

fix(docker-compose-parser): fix python py_module healthcheck
  _pants/py_deploy.py
  docker_compose_parser/src/docker_compose_parser/file_models.py
Due: lint, test

feat(pants-py-deploy): support combining new chart with existing chart and specifying pull image policy
  _pants/pants_py_deploy/src/pants_py_deploy/plugin.py
  compose_chart_export/src/compose_chart_export/chart_combiner.py
  compose_chart_export/src/compose_chart_export/chart_file_templates.py
  compose_chart_export/src/compose_chart_export/chart_read.py
  compose_chart_export/src/compose_chart_export/compose_export.py
  compose_chart_export/tests/test_chart_export/charts/deployment_only/templates/deployment.yaml
  compose_chart_export/tests/test_chart_export/charts/deployment_only/values.yaml
  compose_chart_export/tests/test_chart_export/charts/deployment_only_with_service_account/templates/deployment.yaml
  compose_chart_export/tests/test_chart_export/charts/deployment_only_with_service_account/values.yaml
  compose_chart_export/tests/test_chart_export/charts/nginx_no_ports/templates/deployment.yaml
  compose_chart_export/tests/test_chart_export/charts/nginx_no_ports/values.yaml
  compose_chart_export/tests/test_chart_export/charts/service_deployment/templates/deployment.yaml
  compose_chart_export/tests/test_chart_export/charts/service_deployment/values.yaml
  compose_chart_export/tests/test_chart_export/charts/service_deployment_with_healthcheck/templates/deployment.yaml
  compose_chart_export/tests/test_chart_export/charts/service_deployment_with_healthcheck/values.yaml
  compose_chart_export/tests/test_chart_export/test_chart_combiner.py
  docker_example/src/docker_example/chart/templates/deployment.yaml
  docker_example/src/docker_example/chart/templates/secret_secret1.yaml
  docker_example/src/docker_example/chart/templates/secret_secret2.yaml
  docker_example/src/docker_example/chart/values.yaml
Due: lint, test

ci: skip coverage on _pants directory
  pyproject.toml
Due: none

test: combiner wasn't writing the files
  compose_chart_export/tests/test_chart_export/test_chart_combiner.py
Due: lint, test

test: add a test for the secret_exporting
  compose_chart_export/tests/test_chart_export/charts/service_deployment_with_healthcheck/templates/deployment.yaml
  compose_chart_export/tests/test_chart_export/charts/service_deployment_with_healthcheck/templates/secret_name.yaml
  compose_chart_export/tests/test_chart_export/charts/service_deployment_with_healthcheck/values.yaml
  compose_chart_export/tests/test_chart_export/compose_files/service_deployment_with_healthcheck.yaml
Due: none

test: fix broken test due to Chart.yaml not with Capitalized
  compose_chart_export/tests/test_chart_export/test_chart_combiner.py
Due: lint, test

fix(compose-chart-export): secret name cannot use "_"
  compose_chart_export/src/compose_chart_export/chart_file_templates.py
  compose_chart_export/src/compose_chart_export/chart_mods.py
  compose_chart_export/tests/test_chart_export/charts/service_deployment_with_healthcheck/templates/deployment.yaml
  docker_example/src/docker_example/chart/templates/deployment.yaml
Due: lint, test

test: add compose_chart_export doctests
  compose_chart_export/src/compose_chart_export/chart_combiner.py
  compose_chart_export/tests/test_chart_export/test_doctests.py
Due: lint, test

ci: update pants-py-deploy plugin
  _pants/3rdparty/lock.txt
  _pants/3rdparty/requirements.txt
  _pants/py_package.py
Due: lint, test

feat: support want_dt with support for datetime+str+int+date
  zero_3rdparty/src/zero_3rdparty/datetime_utils.py
Due: lint, test

chore: bump pants version
  pants.toml
Due: none

feat: add support for dumping BaseModel without orjson installed
  3rdparty/python/default.lock
  3rdparty/python/pydantic-v1.lock
  _pants/3rdparty/lock.txt
  _pants/py_package.py
  model_lib/src/model_lib/pydantic_utils.py
  model_lib/src/model_lib/serialize/json_serialize.py
  pants.toml
Due: lint, test

test: add a test for iter_slices
  zero_3rdparty/tests/test_zero_3rdparty/test_iter_utils.py
Due: lint, test

feat(zero-3rdparty): add support for exclude in iter_paths
  zero_3rdparty/src/zero_3rdparty/file_utils.py
  zero_3rdparty/tests/test_zero_3rdparty/test_iter_utils.py
Due: lint, test

style: add missing type hint
  zero_3rdparty/src/zero_3rdparty/datetime_utils.py
Due: lint, test

feat(zero_3rdparty): support iterating nested keys from lists
  zero_3rdparty/src/zero_3rdparty/dict_nested.py
  zero_3rdparty/tests/test_zero_3rdparty/test_dict_nested.py
Due: lint, test

fix: add type alias to utc_datetime_ms
  model_lib/src/model_lib/pydantic_utils.py
Due: lint, test

feat: file_utils support update_between_markers
  model_lib/src/model_lib/pydantic_utils.py
  zero_3rdparty/src/zero_3rdparty/file_utils.py
  zero_3rdparty/tests/test_zero_3rdparty/test_file_utils.py
Due: lint, test

fix: avoid deprecation warning pydantic Extra
  model_lib/src/model_lib/model_base.py
Due: lint, test

style: fix type hint
  model_lib/src/model_lib/pydantic_utils.py
Due: lint, test

feat(zero-3rdparty): support append_if_not_found
  model_lib/src/model_lib/model_base.py
  zero_3rdparty/src/zero_3rdparty/file_utils.py
  zero_3rdparty/tests/test_zero_3rdparty/test_file_utils.py
Due: lint, test

test: add a test for exclude
  zero_3rdparty/tests/test_zero_3rdparty/test_file_utils.py
Due: lint, test

chore: add script to rename test files
  scripts/renamer.py
Due: lint, test

chore: update exclude patterns in pyproject.toml to improve test file management
  zero-3rdparty/pyproject.toml
Due: none

refactor: update logging messages in toml serialization and add new test for toml normal format
  model-lib/model_lib/serialize/toml_serialize.py
  model-lib/model_lib/serialize/toml_serialize_test.py
  model-lib/model_lib/serialize/toml_serialize_test/test_toml_compact.toml
Due: lint, test

all tests passing
  .pre-commit-config.yaml
  model-lib/model_lib/__init__.py
  model-lib/model_lib/base_settings.py
  model-lib/model_lib/dump_functions.py
  model-lib/model_lib/dump_functions_test.py
  model-lib/model_lib/errors.py
  model-lib/model_lib/metadata/context_dict.py
  model-lib/model_lib/metadata/metadata_dump.py
  model-lib/model_lib/model_base.py
  model-lib/model_lib/model_dump.py
  model-lib/model_lib/model_dump_test.py
  model-lib/model_lib/pydantic_utils.py
  model-lib/model_lib/pydantic_utils_test.py
  model-lib/model_lib/readme_example_test.py
  model-lib/model_lib/serialize/dump.py
  model-lib/model_lib/serialize/json_serialize.py
  model-lib/model_lib/serialize/toml_serialize_test.py
  model-lib/model_lib/serialize/toml_serialize_test/test_toml_compact.toml
  model-lib/model_lib/serialize/toml_serialize_test/test_toml_normal.toml
  model-lib/model_lib/serialize/yaml_serialize.py
  model-lib/pyproject.toml
  pyproject.toml
  scripts/pyproject_syncer.py
  scripts/renamer.py
  uv.lock
  zero-3rdparty/zero_3rdparty/cache_ttl.py
  zero-3rdparty/zero_3rdparty/datetime_utils.py
  zero-3rdparty/zero_3rdparty/dependency.py
  zero-3rdparty/zero_3rdparty/dict_nested.py
  zero-3rdparty/zero_3rdparty/dict_utils.py
  zero-3rdparty/zero_3rdparty/error.py
  zero-3rdparty/zero_3rdparty/file_utils.py
  zero-3rdparty/zero_3rdparty/future.py
  zero-3rdparty/zero_3rdparty/iter_utils.py
Due: lint, test

style: fmt
  model-lib/model_lib/model_base.py
  model-lib/model_lib/pydantic_utils.py
  model-lib/model_lib/readme_example_test.py
  model-lib/model_lib/serialize/json_serialize.py
Due: lint, test

chore: file renames for non-migrated files
  _pants/pants_py_deploy/tests/test_pants_py_deploy/compose_file_test.py
  _pants/pants_py_deploy/tests/test_pants_py_deploy/export_env_test.py
  compose_chart_export/tests/test_chart_export/chart_combiner_test.py
  compose_chart_export/tests/test_chart_export/compose_export_test.py
  compose_chart_export/tests/test_chart_export/doctests_test.py
  docker_compose_parser/tests/test_docker_compose_parser/file_models_test.py
  pyproject_old.toml
Due: lint, test

chore: update .gitignore, add justfile for build and testing, and configure coverage options
  .gitignore
  justfile
  pyproject.toml
Due: none

chore: update justfile for build and lint commands, add pre-release script, and enhance pyproject.toml configuration
  justfile
  model-lib/pyproject.toml
  pyproject.toml
  scripts/model_lib_pre_release.py
  uv.lock
  zero-3rdparty/zero_3rdparty/timeparse.py
Due: lint, test
