Repository EspenAlbert/py-libs: changes, and which pre-commit hooks are due for each by the changed paths.
All: build_files_check, lint, test

build_files_check:
  name: build_files_check
  entry: 'pants tailor --check update-build-files --check ::'
  language: system
  pass_filenames: false

lint:
  name: Lint
  entry: pants --changed-since=HEAD --changed-dependents=transitive lint
  language: system
  pass_filenames: false

test:
  name: Test
  entry: pants --changed-since=HEAD --changed-dependents=transitive test
  language: system
  pass_filenames: false

ci: linter cleanup
  .flake8
  3rdparty/requirements_tools.txt
  pants.toml
  py-boot.yaml
Due: none

refactor(model-lib): allow_populate_by_field_name/populate_by_name
  model_lib/src/model_lib/model_base.py
Due: lint, test

feat(model-lib): support dumping toml with linebreaks by default
  model_lib/src/model_lib/constants.py
  model_lib/src/model_lib/serialize/dump.py
  model_lib/src/model_lib/serialize/parse.py
  model_lib/src/model_lib/serialize/toml_serialize.py
  model_lib/test/test_model_lib/test_serialize/test_toml_serialize.py
Due: lint, test

feat(zero-3rdparty): support pop_nested
  _pants/3rdparty/lock.txt
  zero_3rdparty/src/zero_3rdparty/dict_nested.py
  zero_3rdparty/tests/test_zero_3rdparty/test_dict_nested.py
Due: lint, test

chore: update lock files
  3rdparty/python/default.lock
  3rdparty/python/pydantic-v1.lock
Due: none

refactor: remove isort section
  pyproject.toml
Due: none

style: fmt
  zero_3rdparty/src/zero_3rdparty/dict_nested.py
Due: lint, test

ci: support releasing to pypi on tags
  .github/workflows/release.yaml
  _pants/py_package.py
Due: lint, test

ci: support releasing to pypi on tags2
  _pants/py_package.py
Due: lint, test

ci: support releasing to pypi on tags3
  .github/workflows/release.yaml
Due: none

ci: support releasing to pypi on tags3
  _pants/py_package.py
Due: lint, test

ci: run only ci on a push to a branch
  .github/workflows/ci.yaml
Due: none

ci: proper action ref to set VERSION
  .github/workflows/release.yaml
Due: none

ci: try to re-use pants_init and split out typecheck
  .github/templates/pants_init/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/typecheck.yaml
Due: none

ci: try to re-use pants_init2
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/typecheck.yaml
Due: none

ci: try to re-use pants_init3
  .github/templates/pants_init/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/typecheck.yaml
Due: none

ci: try to re-use pants_init4
  .github/templates/pants_init/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/typecheck.yaml
Due: none

ci: fix typecheck needs py3.11
  .github/workflows/typecheck.yaml
Due: none

ci: avoid mypy on test files
  BUILD
  _pants/py_test_versions.py
  compose_chart_export/tests/test_chart_export/BUILD
  model_lib/test/test_model_lib/BUILD
  zero_3rdparty/tests/test_zero_3rdparty/BUILD
Due: build_files_check, lint, test

ci: remove mypy overrides section from pyproject
  model_lib/test/test_model_lib/test_serialize/BUILD
  pyproject.toml
Due: build_files_check

docs: add some examples to the model_lib docs
  model_lib/readme.md
  model_lib/src/model_lib/BUILD
  model_lib/src/model_lib/constants.py
  model_lib/test/test_model_lib/test_readme_example.py
Due: build_files_check, lint, test

test: stabilize cache test
  zero_3rdparty/tests/test_zero_3rdparty/test_cache_ttl.py
Due: lint, test

ci: fix only run coverage on src directories
  pants.toml
  pyproject.toml
Due: none

ci: fix only run coverage on src directories2
  pyproject.toml
Due: none

chore: add ruff cache
  .gitignore
Due: none

refactor(pants): move out the static content for py_package to make it easier to re-use
  _pants/py_package.py
  model_lib/src/model_lib/BUILD
Due: build_files_check, lint, test

chore: add classifier to packages
  _pants/py_package.py
Due: lint, test

fix; add all 3rd-parties to 'full' configuration
  model_lib/src/model_lib/BUILD
Due: build_files_check

fix(closable_queue): guarantee no put is called after close
  zero_3rdparty/src/zero_3rdparty/closable_queue.py
  zero_3rdparty/tests/test_zero_3rdparty/test_closable_queue.py
Due: lint, test

fix(zero-3rdparty): support stripping whitespace around want_bool values
  zero_3rdparty/src/zero_3rdparty/str_utils.py
  zero_3rdparty/tests/test_zero_3rdparty/test_str_utils.py
Due: lint, test

feat(chart-export): support PORTS_EXTRA
  compose_chart_export/src/compose_chart_export/compose_export.py
  compose_chart_export/tests/test_chart_export/charts/nginx_no_ports/.helmignore
  compose_chart_export/tests/test_chart_export/charts/nginx_no_ports/Chart.yaml
  compose_chart_export/tests/test_chart_export/charts/nginx_no_ports/templates/NOTES.txt
  compose_chart_export/tests/test_chart_export/charts/nginx_no_ports/templates/_helpers.tpl
  compose_chart_export/tests/test_chart_export/charts/nginx_no_ports/templates/deployment.yaml
  compose_chart_export/tests/test_chart_export/charts/nginx_no_ports/templates/service.yaml
  compose_chart_export/tests/test_chart_export/charts/nginx_no_ports/values.yaml
  compose_chart_export/tests/test_chart_export/compose_files/nginx_no_ports.yaml
  compose_chart_export/tests/test_chart_export/test_compose_export.py
Due: lint, test

ci: use ruff fix by default
  .pre-commit-config.yaml
Due: none

feat(pants): support root package
  _pants/py_package.py
Due: lint, test

refactor(pants): explicit extras
  compose_chart_export/src/compose_chart_export/BUILD
  docker_compose_parser/src/docker_compose_parser/BUILD
  model_lib/src/model_lib/BUILD
Due: build_files_check

feat: add prev_monday
  zero_3rdparty/src/zero_3rdparty/datetime_utils.py
Due: lint, test

refactor(pants): use only a single python version for pants-py-deploy at a time
  _pants/py_deploy.py
Due: lint, test

feat(pants-py-deploy): support exporting compose and helm charts with healthchecks
  _pants/pants_py_deploy/src/pants_py_deploy/compose_file.py
  _pants/pants_py_deploy/src/pants_py_deploy/fields.py
  _pants/pants_py_deploy/src/pants_py_deploy/models.py
  _pants/pants_py_deploy/src/pants_py_deploy/plugin.py
  _pants/pants_py_deploy/src/pants_py_deploy/register.py
  _pants/pants_py_deploy/tests/test_pants_py_deploy/test_compose_file.py
  _pants/py_deploy.py
  compose_chart_export/src/compose_chart_export/chart_mods.py
  compose_chart_export/src/compose_chart_export/compose_export.py
  compose_chart_export/tests/test_chart_export/charts/service_deployment_with_healthcheck/.helmignore
  compose_chart_export/tests/test_chart_export/charts/service_deployment_with_healthcheck/Chart.yaml
  compose_chart_export/tests/test_chart_export/charts/service_deployment_with_healthcheck/templates/NOTES.txt
  compose_chart_export/tests/test_chart_export/charts/service_deployment_with_healthcheck/templates/_helpers.tpl
  compose_chart_export/tests/test_chart_export/charts/service_deployment_with_healthcheck/templates/deployment.yaml
  compose_chart_export/tests/test_chart_export/charts/service_deployment_with_healthcheck/templates/service.yaml
  compose_chart_export/tests/test_chart_export/charts/service_deployment_with_healthcheck/values.yaml
  compose_chart_export/tests/test_chart_export/compose_files/service_deployment_with_healthcheck.yaml
  docker_compose_parser/src/docker_compose_parser/file_models.py
  docker_compose_parser/tests/test_docker_compose_parser/BUILD
  docker_compose_parser/tests/test_docker_compose_parser/__init__.py
  docker_compose_parser/tests/test_docker_compose_parser/es.yaml
  docker_compose_parser/tests/test_docker_compose_parser/test_file_models.py
  docker_example/src/docker_example/BUILD
  docker_example/src/docker_example/docker-compose.yaml
  zero_3rdparty/src/zero_3rdparty/timeparse.py
  zero_3rdparty/tests/test_zero_3rdparty/test_doctests.py
Due: build_files_check, lint, test

fix(pants-py-deploy): dockerfile and start-interval
  _pants/py_deploy.py
Due: lint, test

fix(docker-compose-parser): empty healthcheck support
  docker_compose_parser/src/docker_compose_parser/file_models.py
Due: lint, test

fix(docker-compose-parser): empty dictionary should return no healthcheck
  docker_compose_parser/src/docker_compose_parser/file_models.py
Due: lint, test

Path conditions:
  build_files_check: any of: BUILD$
  lint: any of: \.py$
  test: any of: \.py$
